* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}
/*
input {
  outline: none;
  border: 1px #ddd solid;
  background: #fffafa;
  font-size: 12px;
  color: #eee;
  height: 40px;
  border-radius: 4px;
}
*/
body {
  background: #fafafa;
  height: 80vh;
  min-height: 600px;
}

main {
  width: 350px;
  height: 78vh;
  margin: 0 auto;
  margin-top: 10vh;
}

.main {
  width: 100%;
  padding: 10px 0;
  margin: 0 0 10px 0;
  background: #fff;
  border: 1px #ddd solid;
}

input {
  width: 70%;
  height: 20px;
  font-size: 12px;
  outline: none;
  border: 1px #ddd solid;
  background: snow;
  border-radius: 3px;
  margin: auto;
  display: block;
  padding: 9px 8px;
  margin-top: 7px;
}

input:focus {
  border: 1px #aaa solid;
}
.log img {
  display: block;
  margin: 16px auto 20px;
  width: 175px;
}

.enter {
  width: 75%;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  background: #0099f146;
  font-size: 14px;
  font-weight: 600;
  margin: 12px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.or_login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 18px;
}

.or_login span {
  display: block;
  height: 1px;
  width: 28%;
  margin: 0 5%;
  background: #ddd;
}

.facebook_login {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook_login a {
  color: #052580e1;
  margin: 25px 8px;
}

.forgot_pass {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.forgot_pass a {
  color: #052580e1;
}

.reg {
  background: #fff;
  border: 1px #ddd solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 14px;
  height: 60px;
}

.reg a {
  color: #009ffc;
  font-weight: 600;
}

footer {
  height: 90px;
  width: 100%;
  border-top: 1px solid #ddd;
  background: #fff;
  display: flex;
  justify-content: center;
  line-height: 25px;
  padding-top: 1vh;
}

.from {
  text-align: center;
  font-size: 14px;
  color: #888;
}
.facebook {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 450px) {
  main {
    width: 100%;
    height: 100%;
    padding-top: 5vh;
    margin: auto;
  }

  .main {
    border: none;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
  }

  .reg {
    width: 90%;
    border: none;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
  }
}
